#!/usr/bin/make -f
#export DH_VERBOSE=1

DH_ALWAYS_EXCLUDE=CVS:.bzr

DEB_CMAKE_EXTRA_FLAGS += -Denable-gnome-integration=yes \
	-Denable-old-gnome-integration=no \
	-Denable-kde-integration=yes \
	-Denable-xfce-integration=yes \
	-Denable-network-monitor=yes \
	-Denable-doncky=yes \
	-Denable-scooby-do=yes \
	-Denable-disks=yes \
	-Denable-global-menu=yes \
	-DGMCS_EXECUTABLE=/usr/bin/mono-csc \
	-DROOT_PREFIX=$(CURDIR)/debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
# include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_INSTALL_CHANGELOGS_ALL := ChangeLog

common-binary-predeb-arch::
	dh_clifixperms
	dh_clideps -d

get-orig-source:
	dh_testdir
	uscan --force-download --verbose --repack
