#!/usr/bin/make -f
#export DH_VERBOSE=1

DH_ALWAYS_EXCLUDE=CVS:.bzr

DEB_CMAKE_EXTRA_FLAGS += -Denable-alsa-mixer=yes \
	-Denable-doncky=yes \
	-Denable-gnome-integration=yes \
	-Denable-old-gnome-integration=no \
	-Denable-gmenu=yes \
	-Denable-kde-integration=yes \
	-Denable-memenu=yes \
	-Denable-network-monitor=yes \
	-Denable-scooby-do=yes \
	-Denable-status-notifier=yes \
	-Denable-xfce-integration=yes \
	-Denable-weblets=yes \
	-Denable-folders=yes \
	-Denable-disks=yes \
	-Denable-recent-events=yes \
	-DROOT_PREFIX=$(CURDIR)/debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
# include /usr/share/cdbs/1/rules/patchsys-quilt.mk

ifeq (,$(findstring kfreebsd,$(DEB_BUILD_ARCH)))
     DEB_CONFIGURE_EXTRA_FLAGS += -Denable-alsa-mixer=no
endif


DEB_INSTALL_CHANGELOGS_ALL := ChangeLog

get-orig-source:
	dh_testdir
	uscan --force-download --verbose --repack
