#!/usr/bin/make -f
#export DH_VERBOSE=1

DH_ALWAYS_EXCLUDE=CVS:.bzr

DEB_CMAKE_EXTRA_FLAGS += -Denable-gnome-integration=ON \
	-Denable-old-gnome-integration=OFF \
	-Denable-kde-integration=ON \
	-Denable-xfce-integration=ON \
	-Denable-recent-events=OFF \
	-Denable-network-monitor=ON \
	-Denable-doncky=ON \
	-Denable-scooby-do=ON \
	-Denable-disks=ON \
	-DROOT_PREFIX=$(CURDIR)/debian/tmp \
	-DWITH_VALA=OFF

# FOR STABLE RELEASE => To DISABLE : network-manager, scooby-do, doncky, folders

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
# include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_INSTALL_CHANGELOGS_ALL := ChangeLog

get-orig-source:
	dh_testdir
	uscan --force-download --verbose --repack
