#!/usr/bin/make -f
#export DH_VERBOSE=1

DH_ALWAYS_EXCLUDE=CVS:.bzr

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

# Because there is a patch in gtk+2.0 only in Ubuntu: 044_grips.patch
ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
    DEB_CMAKE_EXTRA_FLAGS += -Denable_gtk_grip=yes
endif

DEB_INSTALL_CHANGELOGS_ALL := ChangeLog

override_dh_auto_install:
	dh_auto_install
	# install apport hook on Ubuntu
	if dpkg-vendor --is ubuntu; then \
	    install -m 644 -D debian/apport/cairo-dock.py debian/temp/usr/share/apport/package-hooks/cairo-dock.py; \
	fi

get-orig-source:
	dh_testdir
	uscan --force-download --verbose --repack
