Source: cairo-dock-plug-ins
Section: x11
Priority: optional
Maintainer: Matthieu Baerts (matttbe) <matttbe@gmail.com>
XSBC-Original-Maintainer: Julien Lavergne <julien.lavergne@gmail.com>, Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>, Matthew Walker <matthaeus123@gmail.com>, Fabrice Rey <fabounet@users.berlios.de>, Matthieu Baerts (matttbe) <matttbe@gmail.com>
Build-Depends: 	cdbs,
		gawk, 
		libxxf86vm-dev,
		debhelper,
		cmake,
		libtool,
		intltool,
		libcairo2-dev, 
		libgtk2.0-dev, 
		librsvg2-dev,
		libdbus-glib-1-dev,
		libxml2-dev,
		libxtst-dev,
		libglib2.0-dev,
		cairo-dock-dev (>= 2.0.8.0),
		libasound2-dev,
		libvte-dev,
		x11proto-xf86vidmode-dev,
		libgnome-menu-dev,
		libgnomevfs2-dev,
		libgnomeui-dev,
		libthunar-vfs-1-dev,
		libasound2-dev,
		libetpan-dev,
		libgnome-keyring-dev,
		libgnutls-dev,
		libexif-dev,
		libxklavier12-dev,
		libgtkglext1-dev,
		libgvfscommon-dev
Standards-Version: 3.8.3
Homepage: http://www.glx-dock.org/

Package: cairo-dock-plug-ins-integration
Section: graphics
Architecture: any
Conflicts: 	cairo-dock-plug-ins (<= 2.0.8.0)
Replaces: 	cairo-dock-plug-ins (<= 2.0.8.0)
Depends: 	cairo-dock-plug-ins-data (>= ${source:Version}),
		cairo-dock-core (>= 2.0.8.0),
		${misc:Depends}
Description: Two plug-ins for cairo-dock for a better integration in GNOME or Xfce
 Cairo-dock-plug-ins is a set of plug-ins for Cairo-dock. It provides some new 
 functionnalities like controling music players or note-taking, a clock or a
 desktop switcher but also some views, dialogs and desklets skins, etc.
 .
 This package contains two plug-ins for a better integration in GNOME or Xfce.

Package: cairo-dock-plug-ins
Section: graphics
Architecture: any
Conflicts: 	cairo-dock-plug-ins (<= 2.0.8.0)
Depends: 	cairo-dock-plug-ins-data (>= ${source:Version}),
		cairo-dock-plug-ins-integration (>= ${source:Version}),
		cairo-dock-core (>= 2.0.8.0),
		curl,
		${shlibs:Depends}, 
		${misc:Depends}
Suggests:	compiz,
		gnote
Description: A set of plug-ins for cairo-dock
 Cairo-dock-plug-ins is a set of plug-ins for Cairo-dock. It provides some new 
 functionnalities like controling music players or note-taking, a clock or a
 desktop switcher but also some views, dialogs and desklets skins, etc.

Package: cairo-dock-plug-ins-data
Section: graphics
Architecture: all
Conflicts: 	cairo-dock-plug-ins (<= 2.0.8.0)
Replaces: 	cairo-dock-plug-ins (<= 2.0.8.0)
Depends: 	${misc:Depends}
Description: Common files for cairo-dock-plug-ins
 Cairo-dock-plug-ins is a set of plug-ins for Cairo-dock. It provides some new 
 functionnalities like controling music players or note-taking, a clock or a
 desktop switcher but also some views, dialogs and desklets skins, etc.
 .
 This package contains all images, locales and configuration files for 
 cairo-dock-plug-ins.
