#!/usr/bin/make -f
#export DH_VERBOSE=1

DH_ALWAYS_EXCLUDE=CVS:.bzr

DEB_CMAKE_EXTRA_FLAGS += -Denable_alsa_mixer=yes \
	-Denable-doncky=yes \
	-Denable_gnome_integration=yes \
	-Denable_old_gnome_integration=yes \
	-Denable_gmenu=yes \
	-Denable_kde_integration=yes \
	-Denable-network-monitor=yes \
	-Denable-scooby-do=no \
	-Denable_xfce_integration=yes \
	-Denable_weblets=no

# FOR STABLE RELEASE => To DISABLE : network-manager, scooby-do

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_INSTALL_CHANGELOGS_ALL := ChangeLog

get-orig-source:
	dh_testdir
	uscan --force-download --verbose --repack
